<li class=" alert alert-primary shadow p-3 mb-5 bg-white rounded" style="margin-bottom: 0;">
     <PRE> <%=comment.content%> </PRE>
     <div class="row">
      <div class="col-10"></div>     
     <span class="col"><%=comment.user.name%></span>
     </div>
</li>
  <li style="margin-bottom: 10px;"><%=time_tag comment.created_at += 28000%></li>