

<div class="row">
  <div class="col-2">
    <div class="alert alert-primary col-12" role="alert"> <a class="nav-link" href="#Info">INFO</a></div>
  </div>
  <div class="col-2">
    <div class=" col-12" role="alert"><span></span></div>
  </div>
  <div class="col-6">
    <h3 id="Info">案件資訊</h3>
    <h4>
      <%="案號：#{@project.project_number}"%>
    </h4>
    <%=render "form",test_mode: @test_mode%>
  </div>
</div>