
      <!-- Content here -->
      <div class="row">
            <div class="col-2">
                  <div class="row">
                    <div class="alert alert-primary col-12" role="alert"> 
                    <%=link_to "新增測試",new_test_mode_test_item_path(@test_mode),class:"nav-link "%>
                    </div>
                    <div class="alert alert-primary col-12" role="alert"> <a class="nav-link" href="#Info">INFO</a>
                    </div>
                    <%if @test_mode_list %>
                      <%@test_mode_list.each do |l|%>
                      <div class="alert alert-primary col-12" role="alert">
                        <%=link_to " #{l.law_name}", test_mode_path(l) ,class:"nav-link"%>
                      </div>
                      <%end%>
                    <%end%>
                  </div>
                </div>
            <div class="col-8">
            <table class="table table-striped project_show_table">
                  <tr>
                        <td>法規</td>
                        <td>
                              <%= "#{@test_mode.law_name}" %>
                        </td>
                  </tr>
                  <tr>
                        <td>預計完成日期</td>
                        <td>
                              <%= "#{@test_mode.expected_date_of_delivery}" %>
                        </td>
                  </tr>
            </table>
        </div>
      </div>

