<div class="row side" style="position: fixed;">
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#Info">INFO</a></div>

      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_fcc">FCC</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_ce">CE</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_emc">EMC</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_ncc">NCC</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_ic">IC</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_ctick">C-TICK</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_jr">JR</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_worldwide">WorldWide</a></div>
      </div>

</div>