<div class="row side" style="position: fixed;">
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#Info">INFO</a></div>

      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_fcc">FCC</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert"> <a class="nav-link" href="#country_ce">CE</a></div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert">EMC</div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert">NCC</div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert">IC</div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert">CTICK</div>
      </div>
      <div class="col-12">
            <div class="alert alert-primary col-2" role="alert">WorldWide </div>
      </div>

</div>