
                    <table  class="table table-striped">
                    <tr>
                      <td>收件時間</td>
                      <td><%= "#{@project.receive_date}"%></td>
                    </tr>
                    <tr>
                    <td>案號</td>
                    <td><%= "#{@project.project_number}"%></td>
                    </tr>


                 
                      <!-- <td>project_number,'案號'</td>
                
                      <td>@project.label :customer,'客戶'</td>
                 
                      <td>@project.label :product_number,'產品型號'</td>
                  
                      <td>@project.label :product_name,'產品名稱'</td>
                        <td>@project.label :salesman,'業務'</td>
              
                        <td>@project.label :PM,'負責PM'</td> -->
                 
             
                </table>