@import "~bootstrap/scss/bootstrap";



.project_show_table{
      font-size:30px;
      
      td{
            width: 10%;
            padding: 0 10%;
      }
}

.statusLight{
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: solid 1px black;
      padding: 0 5px;
}
.doit{
     background-color: white; 
}
.finish{
      background-color: green; 
      border:  green; 
 }
 .Overdue{
      background-color: red; 
      border:  red; 
 }
 .warning{
      background-color: rgb(229, 169, 10);
      border: rgb(213, 190, 62);
 }
 .pending{
      background-color: rgb(241, 109, 244);
      border:  rgb(241, 109, 244); 
 }
 .comment_block{
       margin:0;
 }