@import "~bootstrap/scss/bootstrap";



.project_show_table{
      font-size:30px;
      
      td{
            width: 10%;
            padding: 0 10%;
      }
}

.statusLight{
      width: 20px;
      height: 20px;
      border-radius: 10px;
      border: solid 1px black;
      padding: 0 5px;
}